body{
    background-color: aqua;
    text-align: center;
}

.container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    background-color: blanchedalmond;
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 9vmin;
    color: lightcoral;
}

#Reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 2vmin;
    background-color: cadetblue;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 2vmin;
    background-color: cadetblue; 
}

#msg{
    color: rgb(35, 34, 32);
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide{
    display:none;
}